* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header {
    background-image: linear-gradient(blue, navy);
}
main {
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
}
h1 {
    color: white;
    text-align: center;
    padding: 10px;
}
h2 {
    margin: 0;
    font-size: 40px;
}
h4 {
    margin-top: 0;
}
button {
    width: 100%;
    border-radius: 5px;
    border: none;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    background-color: #c0c0c0;
    margin-bottom: 10px;   
}
button:hover {
    background-color: #9e9e9e;
}
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
}
.city-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}
#search-button {
    color: white;
    background-color: cornflowerblue;
    margin: 15px 0;
}
#search-button:hover {
    background-color: rgb(75, 110, 177);
}
.btn-sm {
    font-size: 0.85rem;
    padding: 0.3rem 0.9rem;
    border-radius: 0.5rem;
}
.city-search {
    border-bottom: 5px solid gray;
}
.searched-cities {
    margin-top: 15px;
}
.today-container-card-body {
    padding: 15px;
    width: 100%;
}
.div-day-conditions {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.day-conditions {
    background-color: rgb(62, 62, 92);
    color: white;
    padding: 15px;
}
.today-container {
    width: 100%;
}
.today-container-card {
    width: 100%;
    border: 2px solid black;
}
.weather-img {
    width: 75px;
    height: 75px;
    border-style: none;
    vertical-align: middle;
}
.weather-data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}
.weekly-forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn.btn-success {
    background-color: #157347;
    color: #ffffff;
}
  
.btn.btn-success:hover {
    background-color: #12854f;
    color: #ffffff;
}
.btn.btn-warning {
    background-color: #ffca2c;
    color: #000000;
}
  
.btn.btn-warning:hover {
    background-color: #ffca2cf5;
    color: #000000;
}
.btn.btn-danger {
    background-color: #e64c66;
    color: #ffffff;
}
.btn.btn-danger:hover {
    background-color: #ee8294;
}
